## This is my old htaccess, I have to abandon it because it's not handling superglobals well.
## It's really too bad, I thought it was
#
#   RewriteEngine on
#
#   ErrorDocument 404 /index.php
# Use PHP 5.3
#AddType application/x-httpd-php53 .php

    RewriteEngine On
    RewriteBase /


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
