<supa>
    <app>
        <name>superterran</name>
        <author>Doug Hatcher</author>
        <description>Some more filler text here!</description>
        <avatar>https://www.google.com/s2/photos/profile/107618603073236931621</avatar>
        <email>superterran@gmail.com</email>
        <debug>false</debug>
        <password>drama</password>
    </app>

    <theme>default</theme>
    <responseCode>200</responseCode>

    <controls>
        <default>
            <index>pages_index_index</index>
            <error>pages_index_error</error>
        </default>
    </controls>

    <mysql>
        <host>localhost</host>
        <user>root</user>
        <pass />
        <port>3306</port>
        <database>supa_devdirty</database>
        <prefix>supa</prefix>
        <eav_table>eav</eav_table>
    </mysql>
</supa>