<supa>
    <app>
        <name>superterran</name>
        <title>superterran dot com</title>
	<author>Doug Hatcher</author>
        <description>The Blogivous for the restofus</description>
        <avatar>https://www.google.com/s2/photos/profile/107618603073236931621</avatar>
        <email>superterran@gmail.com</email>
        <allowregister>false</allowregister>
	<debug>false</debug>
        <password>notworking</password>
    </app>

    <theme>default</theme>
    <responseCode>200</responseCode>

    <controls>
        <default>
            <index>blog_index_index</index>
            <error>pages_index_error</error>
        </default>
    </controls>

    <mysql>
        <host>localhost</host>
        <user>root</user>
        <pass>password</pass>
        <port>3306</port>
        <database>dbname</database>
        <prefix>supa</prefix>
        <eav_table>eav</eav_table>
    </mysql>
</supa>
