<module>

    <meta>
        <panels>
            <name>Panels</name>
            <description>The views and stuff for the global 'panel' admin system</description>
            <active>true</active>
        </panels>
    </meta>

    <controls>
        <panels>
            <users>supa_modules_panels_controls_users</users>
            <eav>supa_modules_panels_controls_eav</eav>
        </panels>
    </controls>

    <models>
        <panels>
            <users>
                <label>Users</label>
                <class>supa_modules_panels_models_users</class>
                <tap>eav</tap>
            </users>

            <eav>
                <class>supa_modules_panels_models_eav</class>
                <tap>eav</tap>
            </eav>

            <kinds>
                <class>supa_modules_panels_models_kinds</class>
            </kinds>

        </panels>
    </models>

    <views>
        <panels>
            <top>
                <class>supa_modules_panels_views_top</class>
                <phtml>top.phtml</phtml>
            </top>

            <debug>
                <class>supa_modules_panels_views_debug</class>
                <phtml>debug.phtml</phtml>
            </debug>

            <users>
                <login>
                    <class>supa_modules_panels_views_users_login</class>
                    <phtml>users/login.phtml</phtml>
                </login>

                <register>
                    <class>supa_modules_panels_views_users_register</class>
                    <phtml>users/register.phtml</phtml>
                </register>
            </users>

            <eav>
                <entities>
                    <class>supa_modules_panels_views_eav_entities</class>
                    <phtml>eav/entities.phtml</phtml>
                </entities>

                <collection>
                    <class>supa_modules_panels_views_eav_collection</class>
                    <phtml>eav/collection.phtml</phtml>
                </collection>

                <add>
                    <class>supa_modules_panels_views_eav_add</class>
                    <phtml>eav/add.phtml</phtml>
                </add>

            </eav>


            <kinds>
                <richtext>
                    <label>Rich Text Field</label>
                    <class>supa_modules_panels_views_kinds_richtext</class>
                </richtext>

                <textfield>
                    <label>Text Field</label>
                    <class>supa_modules_panels_views_kinds_textfield</class>
                </textfield>

                <password>
                    <label>Password</label>
                    <class>supa_modules_panels_views_kinds_password</class>
                </password>

                <urlfriendly>
                    <label>Url Friendly String</label>
                    <class>supa_modules_panels_views_kinds_urlfriendly</class>
                </urlfriendly>


            </kinds>

        </panels>
    </views>

    <observers>
        <page_render_before>
            <order>0</order>
            <class>supa_modules_panels_views_debug</class>
            <method>setActive</method>
        </page_render_before>

        <page_render_after>
            <order>0</order>
            <class>supa_modules_panels_views_debug</class>
            <method>echoHtml</method>
        </page_render_after>

        <panels_users_login_success>
            <order>0</order>
            <class>supa_modules_panels_views_top</class>
            <method>firstLogin</method>
        </panels_users_login_success>

    </observers>

    <eav>
        <supa_modules_panels_models_users>
            <attributes>
                <email>
                    <kind>textfield</kind>
                    <label>Email Address</label>
                    <attribute>email</attribute>
                </email>
                <password>
                    <kind>password</kind>
                    <label>Password</label>
                    <attribute>password</attribute>
                </password>
                <level>
                    <kind>textfield</kind>
                    <label>Privilages</label>
                    <attribute>level</attribute>
                </level>
            </attributes>
        </supa_modules_panels_models_users>
    </eav>

</module>