<module>

    <meta>
        <blog>
            <name>Blog</name>
            <description>Blog module, you know... the whole point of this shit</description>
            <active>true</active>
        </blog>
    </meta>

    <controls>
        <blog>
            <index>supa_modules_blog_controls_index</index>
            <view>supa_modules_blog_controls_view</view>
        </blog>
    </controls>

    <eav>
        <supa_modules_blog_models_posts>
            <attributes>
                <byline>
                    <kind>textfield</kind>
                    <label>By</label>
                    <attribute>byline</attribute>
                </byline>
                <title>
                    <kind>textfield</kind>
                    <label>Title</label>
                    <attribute>title</attribute>
                </title>
                <email>
                    <kind>textfield</kind>
                    <label>Email</label>
                    <attribute>email</attribute>
                </email>
                <body>
                    <kind>richtext</kind>
                    <label>Post Body</label>
                    <attribute>body</attribute>
                </body>
                <slug>
                    <kind>urlfriendly</kind>
                    <label>URL Slug</label>
                    <attribute>slug</attribute>
                </slug>
            </attributes>
        </supa_modules_blog_models_posts>
    </eav>

    <models>
        <blog>
            <posts>
                <label>Blog Posts</label>
                <class>supa_modules_blog_models_posts</class>
                <tap>eav</tap>
            </posts>
        </blog>
    </models>

    <views>
        <blog>
            <list>
                <class>supa_modules_blog_views_list</class>
                <phtml>list.phtml</phtml>
            </list>

            <item>
                <class>supa_modules_blog_views_item</class>
                <phtml>item.phtml</phtml>
            </item>

            <view>
                <class>supa_modules_blog_views_view</class>
                <phtml>view.phtml</phtml>
            </view>

        </blog>
    </views>

</module>