#panel {

    background-color: rgba(0,0,0,.8);
    color: aliceblue;
    display: block;
    overflow: auto;
    padding: 10px;
    font-size: 20px;

    /*position: fixed;*/
  position: relatve;
    top: 0px;
    left:0px;
    right:0px;
    z-index: 9000;
    max-height: 80%;
}

#panel #panel_menu {

    float: right;
    margin: 0px;

}

#panel #panel_menu li {

    list-style: none;
    float: left;
    padding-right: 20px;

}


#panels_login {

    position: fixed;
    display: block;
    bottom: 0px;
    /*border: 1px solid lightgray;*/
    border-bottom: none;
    padding: 5px 20px 5px 20px;
    background-color: rgba(255, 255, 255, .3);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: 2px 2px 2px darkgrey;
    right: 50px;
    box-shadow: 0px 0px 8px darkgrey;
}

#panels_login:hover {
    background-color: rgba(255, 255, 255, .4);
}

#panels_login a {
    color: dimgray;

}

#panel div.tree {
    float: left;
    width: 200px;
    /*border: 1px solid white;*/

}

#panel ul.tree {

    margin: 0px;
    padding: 0px;


}

#panel .tree li {

    font-size: 16px;
    /*border: 1px solid green;*/
    list-style: none;
    margin: 0px;
    display: block;
    padding: 5px;
    cursor: pointer;
}

#panel div.panelcontent {

    width: 750px;
    float: right;
    overflow-y: auto;
    max-height: 500px;

}

#panel div.panelcontent table {
    width: 100%;
    font-weight: 200;
}

#panel div.panelcontent th  {
    text-align: left;
}

