<supa>
    <appname>Superterran's Handy Mailer Module</appname>
    <theme>default</theme>
    <responseCode>200</responseCode>

    <controls>
        <default>
            <index>example_index_index</index>
            <error>example_index_error</error>
        </default>
    </controls>

    <mysql>
        <host>localhost</host>
        <user>root</user>
        <pass/>
        <port>3306</port>
        <database>supa</database>
    </mysql>
</supa>