<module>

    <meta>
        <name>Example</name>
        <description>An example module for the Supa framework</description>
        <active>true</active>
    </meta>

    <controls>
        <example>
            <index>supa_modules_example_controls_index</index>
        </example>
    </controls>

</module>