@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);
body {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #2a4663;
  /*background-color: darkslategray;*/

  color: #ffffb2;
  font-weight: 300;
  margin: 0;
  background-image: url('../img/noise.png');
  font-size: 15px;
}
body a {
  color: #d1f0ff;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body p {
  color: #ffffff;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0px;
  font-weight: 100;
  display: block;
}
body h1 {
  font-size: 32px;
  color: #ffffb2;
}
body h2 {
  font-size: 29px;
  color: #ffffb2;
}
body h3 {
  font-size: 24px;
}
body h4 {
  font-size: 22px;
}
body h5 {
  font-size: 20px;
}
body h6 {
  font-size: 18px;
}
#header {
  font-size: 48px;
  color: #ffffb2;
  font-weight: 200;
  display: block;
  clear: both;
}
#header .navigation li {
  font-size: 24px;
}
#header .logo {
  font-size: 48px;
}
div.navigation {
  display: table;
}
ul.navigation {
  display: table-row;
  float: left;
  /*clear: both;*/

  padding: 0px;
  position: relative;
  margin: 0px;
}
ul.navigation li {
  list-style: none;
  padding: 5px 20px 5px 0;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  display: table-cell;
}
ul.navigation li a {
  bottom: 0px;
  color: #ffffb2;
}
.logo {
  font-size: 48px;
}
.heading {
  font-size: 32px;
  color: #333333;
  font-weight: 200;
}
.container {
  display: block;
  /*border: 1px solid green;*/

  margin: 0 auto;
  max-width: 960px;
  width: 960px;
  /*overflow: auto;*/

  clear: both;
}
#content {
  display: block;
  width: 100%;
  max-width: 650px;
  /*border: 1px solid white;*/

  min-height: 550px;
  /*height: 570px;*/

  float: left;
  margin: 10px;
  text-align: justify;
  background-color: #FDFDFD;
  padding: 15px;
  margin-right: 0px;
  color: #333;
  border-radius: 5px;
}
#content p {
  color: #333333;
}
#content a {
  color: #0000ff;
}
#content h1 {
  color: #003366;
}
#content h2 {
  color: #003d5c;
}
#content .header {
  color: #003366;
}
#right {
  display: block;
  width: 100%;
  max-width: 250px;
  border: 1px none black;
  float: left;
  margin: 10px;
  color: #ffffff;
}
#right ul {
  margin: 0;
  padding: 0;
}
#right ul li {
  padding-left: 0;
  list-style: none;
}
#right h1 {
  font-weight: 300;
  margin: 0px;
}
#right label {
  font-weight: 200;
  color: white;
}
#right .heading {
  color: #f5f5dc;
  font-size: 24px;
}
#right #supa-avatar {
  max-width: 100%;
  border-radius: 5px;
}
#right .avatar-wrapper {
  display: block;
  position: relative;
}
#right .avatar-info {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  font-weight: 100;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 5px;
}
.post .header {
  font-size: 28px;
  display: block;
}
.post .content {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 5px;
  border-top: 1px solid #eff3f5;
}
.row {
  padding: 3px;
}
.row label {
  width: 260px;
  display: block;
  float: left;
  text-align: right;
  padding: 4px;
  padding-right: 10px;
}
.row input {
  border: 1px solid #ffffb2;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: slategray;
}
.row button,
.row a {
  border: none;
  padding: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 24px;
  margin: 10px;
}
.row button:hover,
.row a:hover {
  color: #ffffb2;
}
.cols,
.cols2 {
  display: block;
  width: 218px;
  /*border: 1px dashed red;*/

  text-align: left;
  float: left;
  padding: 10px;
  margin-bottom: 30px;
  color: #ffffff;
}
#most {
  background-color: rgba(150, 150, 150, 0.2);
  color: #ffffb2;
  overflow: auto;
  border-radius: 5px;
}
#messages {
  display: block;
  clear: all;
}
#messages .error {
  color: #ffb6c1;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255, 0, 0, 0.4);
}
#messages .success {
  color: lime;
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid rgba(0, 255, 0, 0.4);
}
#messages ul {
  padding: 0px;
  margin: 0px;
}
#messages ul li {
  list-style: none;
  padding: 10px;
}
.text-center,
.center {
  text-align: center;
}
.right {
  text-align: right;
}
#masthead {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
}
#box {
  margin-top: 40px;
}
#content a {
  color: #002d57;
}
.blog-comment-count {
  float: right;
}
.widget {
  margin-top: 40px;
}
.widget .heading {
  color: #ffffb2;
}
#footer {
  display: block;
  width: 100%;
  max-width: 970px;
  text-align: center;
  overflow-y: visible;
  height: 12px;
  margin-bottom: 30px;
}
#footer .cols2 {
  width: 424px;
}
#footer .friends {
  width: 130px;
}
#footer .whodat {
  text-align: justify;
  width: 525px;
}
#footer .text {
  background-color: #778899;
  display: inline-block;
  padding: 0 10px 0 10px;
}
ul.list {
  padding: 0px;
  margin: 0px;
}
ul.list li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#supa-debug {
  /*display: none;*/

  padding: 10px;
  background-color: white;
  color: black;
}
